<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Test suit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="testdox-html" target="tests/log/testdox.html"/>
        <log type="testdox-text" target="tests/log/testdox.thx" />
    </logging>
</phpunit>